body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#fff,#efefef);
    min-height: 100vh;
    font-family: Verdana, sans-serif;
}

.container{
    text-align: center;
}

.page{
    width: 350px;
    background: #fff;
    border-radius: 5px;
    padding-bottom: 15px;
}

.title{
    padding: 30px 0;
    text-transform: capitalize;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.log a{
    text-decoration: none;
    font-weight: bold;
}

form{
    width: 75%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

form input{
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    outline: none;
}

form input:focus{
    border:  1px solid rgba(0, 0, 0, 0.7);
    background: #efefef;
}

input[type="text"],input[type="password"]{
    position: relative;
    height: 35px;
    font-size: 17px;
    padding-left: 10px;
}

input::placeholder{
    font-weight: normal;
    font-size: 13px;
    transition: 0.3s ease;
}

input:focus::placeholder{
    position: absolute;
    font-size: 10px;
    transform: translateY(-13);
}

form button{
    border: none;
    background: #8ea7fa;
    padding: 5px 0;
    margin-top: 5px;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}

form button:active{
    background: #2c58fe;
    transform: scale(0.995);
}

form .option{
    color: #5a5a5a;
    position: relative;
    margin: 10px 0;
    font-weight: normal;
}

form .option::before{
    position: absolute;
    height: 2px;
    width: 37%;
    background: #b6b6b6;
    left: 0;
    top: 5%;
    border-radius: 50px;
    content: '';
    transform: translateY(-50%);
}

form .option::after{
    position: absolute;
    height: 2px;
    width: 37%;
    background: #b6b6b6;
    right: 0;
    top: 5%;
    border-radius: 50px;
    content: '';
    transform: translateY(-50%);
}

.facebook-link{
    width: 100%;
    margin-top: 15px;
}

.facebook-link span{
    margin-right: 5px;
    font-size: 18px;
    color: #021897;
}

.facebook-link a{
    text-decoration: none;
    color: #021897;
    font-weight: bold;
}

.forget-id{
    margin: 15px;
}

.forget-id a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: #025fd2;
}

.page .signup{
    position: relative;
    margin-top: 30px;
    width: 90%;
    border: 1px solid #b6b6b6;
    border-radius: 2px;
    left: 4%;
    transform: translateY(-50%);
}

.signup a{
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    color: #008aff;
}
